<!-- Add you custom twig html here -->
<section class="section section-tertiary section-no-border mb-xl">
	<div class="container">
		<div class="row">
			<div class="col-md-12 center">
				<h2 class="heading-dark">
					<strong>Articulos</strong>
				</h2>
			</div>
		</div>
		<div class="row">
			{% for fields in data %}
			<div class="col-md-4">
				<div class="recent-posts mt-xl">
					<article class="post">
						<div class="date">
							<span class="day"> {{ fields.createdtime|date('d') }} </span>
							<span class="month"> {{ fields.createdtime|date('F') }} </span>
						</div>
		                <h4 class="heading-primary">
		                	<a href="#">
		                		{{ fields.title.value }}
		                	</a>
		                </h4>
		                <div>{{ fields.body.summary }}</div>
						<a href="node/{{ fields.nid.value }}" class="btn btn-borders btn-dark mt-md mb-xl">Leer más</a>
					</article>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
